.container {
    align-items: center;
    justify-items: center;

}

.user-section{
    width: 90%;
    height: 240px;
    margin-left: 140px;
}

.user-icon {
    width: 200px;
    margin-right: 0;
}

.user-icon > svg{
    font-size: 120px;
    margin-top: 40px;
}

.user-info {
    margin-left: 10px;
}

.user-titles {
    margin-left: -50px;
    margin-top: 30px;
    width: 100%;
}

.margin-left-40px {
    margin-left: 40px;
    text-decoration: none;
    color: white;
}

.margin-left-300px {
    margin-left: 630px;
    text-decoration: none;
    color: white;
    margin-top: -80px;
}

.user-name {
    font-size: 80px;
    margin-right: 30px;
}

.followers-section {
    /* background-color: #0e4f37; */
    background: linear-gradient(to bottom right, #0e4f37, #05734b);
}

.following-section {
    /* background-color: #055f3e; */
    margin-bottom: 70px !important;
}


.borders-round {
    border-radius: 30px;
}

.bubble {
    border-radius: 30px;
    height: 180px;
    margin-left: 120px;
    width: 1100px;
    margin-bottom: 30px;
}

.bubble-color {
    /* background-color: #055f3e; */
    background: linear-gradient(to bottom right, #0e4f37, #05734b);
}

.bubble h3 {
    margin-top: 10px;
    margin-left: 5px;
}

.background {
    background: linear-gradient(to bottom right, #0e4f37, #055f3e);
}

.user-bubble {
    background-color: #088144; /* Change color here */
    color: #fff;
    padding: 20px;
    border-radius: 50%;
    text-align: center;
    width: 90px;
    height: 90px;
    font-size: 24px;
    line-height: 1.5;
  }

  .user-label {
    margin-top: 10px;
    text-align: center;
    color: white;
  }

  .user-bubble:hover {
    background-color: #0b9159; /* Change color on hover */
    cursor: pointer; /* Change cursor on hover */
  }

  .showall {
    color:white;
    margin-left: 810px;
    margin-top: 10px;
  }

  .show-all-follow {
    color:white;
    margin-left: 850px;
    margin-top: 10px;
  }